:root {
    --bg-color: #eeeff1;
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --gradient1: #47ee29;
    --gradient2: #2c7392;

    /* FONTS */
    --body: clamp(1.6rem, 0.306vw + 1.539rem, 1.8rem);
    --h1: clamp(3rem, 2.753vw + 2.449rem, 4.8rem);
    --h2: clamp(2.5rem, 0.669vw + 2.286rem, 3.2rem);
    --h3: clamp(1.8rem, 0.382vw + 1.678rem, 2.2rem);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1 {font-size: var(--h1);}
h2 {font-size: var(--h2);}

h1, h2 {
    font-family: "Playfair Display", sans-serif;
}

body {
    background-image: linear-gradient(hsla(0, 100%, 50%, 0.8), rgba(0, 0, 255, 0.8)),
        url('./img/bg.png');
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-blend-mode: color-dodge;
    font-family: "Open Sans", sans-serif;
    font-size: var(--body);
    color: var(--text-color);
    letter-spacing: 0.1rem;
}

@media (max-width: 768px) {
    body{
        background-image: none;
    }
}

.wrapper {
    max-width: 960px;
    margin-inline: auto;
    background-color: var(--bg-color);
}

/* NAVBAR */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
}

.nav-left {
    display: flex;
    align-items: center;
    max-width: 50%;
    gap: 3rem;
}

.nav-left h3 {
    font-size: var(--h3);
    font-family: "Consolas";
    font-weight: 500;
    color: seagreen;
}

.nav-right a {
    color: var(--text-color);
    font-weight: bold;
    margin-inline: 1rem;
    text-wrap: nowrap;
}

.nav-right a:hover {
    text-decoration: underline;
}

nav img{
    width: 100px;
    filter: drop-shadow(10px 5px 10px #85858d);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-left {
        max-width: 100%;
        padding-bottom: 2rem;
    }

    .nav-right {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding-top: 1.5rem;
    }

    .nav-right a{
        font-size: clamp(1.5rem, 0.67vw + 1.286rem, 1.8rem);
        text-wrap: nowrap;
    }
}

/* HERO */
.hero-section {
    display: flex;
    align-items: center;    
    padding: 4rem 5%;
    gap: 4rem;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-info h1 {
    margin-bottom: -2rem;
    text-wrap: nowrap;
}

.hero-info h2 {
    background: linear-gradient(to right, var(--gradient1) 0, var(--gradient2) 60%);
    background-clip: text;
    color: transparent;
}

.hero-photo img {
    width: min(30vw, 300px);
    border-radius: 50%;
    border: 2px solid seagreen;
}

@media (max-width: 768px) {
    .hero-section{
        flex-direction: column-reverse;
        text-align: center;
        padding: 2rem 5%;
        gap: 2rem;   
    }

    .hero-info {
        gap: 1rem;
    }

    .hero-info h1 {
        margin-bottom: -1rem;
    }

    .hero-section .hero-photo img {
        width: 250px;
    }
}

.hero-btn {
    margin-top: 1rem;
}

.hero-btn a {
    display: inline-block;
    padding: 5px 10px;
    color: var(--link-color);
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-btn a:hover {
    color: var(--text-color);
    border-color: var(--text-color);
}

/* TABLE */
.table-section {
    display: flex;  
    flex-direction: column;
    background-color: #ba89e8;
    padding: 8rem 5%;
}

.table-main {
    max-width: 700px;
    width: 100%;
    background: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    margin-inline: auto;
}

.table-main h2 {
    text-align: center;
    padding: 2rem;
}

.tbl {
    width: 100%;
    border-collapse: collapse;

}

.tbl thead {
    background: #8e8e8e;
}

.tbl thead tr th {
    font-size: 1.4rem;
    padding: 0.8rem;
    letter-spacing: 0.1rem;
    vertical-align: top;
    border: 1px solid lightgray;
}

.tbl tbody tr td {
    font-size: 1.6rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    font-weight: normal;
    text-align: center;
    border: 1px solid grey;
    
}

@media (max-width: 768px) {
    .tbl th {
        display: none;
    }
    .tbl td {
        display: block;
    }
    td::before {
        content: attr(data-cell)": ";
        font-weight: 700;
        text-transform: capitalize;
    }
    .table-section {
        padding: 4rem 5%;
    }
}

.project-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 8rem 5%;
    gap: 2rem;
}

@media (max-width: 768px) {
    .project-section {
    padding: 4rem 5%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #92affd;
    padding: 2rem 5%;
}